## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Resources/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,2022-09-23 15:50:09,5.4112,100.3354,80.53,93,20,3.44,heavy intensity rain
1,1,Albany,US,2022-09-23 15:52:53,42.6001,-73.9662,53.78,59,10,1.99,clear sky
2,2,Barreirinha,BR,2022-09-23 15:52:54,-2.7933,-57.0700,103.19,20,2,4.83,clear sky
3,3,Bluff,NZ,2022-09-23 15:52:54,-46.6000,168.3333,49.80,86,89,8.25,overcast clouds
4,4,Bethel,US,2022-09-23 15:52:54,41.3712,-73.4140,59.90,57,20,12.66,few clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,2022-09-23 15:50:09,5.4112,100.3354,80.53,93,20,3.44,heavy intensity rain
6,6,Faanui,PF,2022-09-23 15:43:47,-16.4833,-151.7500,77.05,77,35,21.97,light rain
7,7,The Valley,AI,2022-09-23 15:50:05,18.2170,-63.0578,87.66,74,20,12.66,few clouds
15,15,Saint George,US,2022-09-23 15:49:17,37.1041,-113.5841,75.43,34,0,3.44,clear sky
19,19,Caucaia,BR,2022-09-23 15:52:57,-3.7361,-38.6531,87.75,58,40,17.27,scattered clouds
25,25,Cabo San Lucas,MX,2022-09-23 15:52:12,22.8909,-109.9124,88.05,74,9,1.19,clear sky
27,27,Huizhou,CN,2022-09-23 15:52:59,23.0833,114.4000,78.55,81,97,2.19,overcast clouds
29,29,Ko Samui,TH,2022-09-23 15:52:18,9.5357,99.9357,82.31,78,40,4.61,light rain
30,30,Sola,VU,2022-09-23 15:53:00,-13.8833,167.5500,80.08,77,26,8.61,scattered clouds
32,32,Atuona,PF,2022-09-23 15:52:05,-9.8000,-139.0333,75.43,81,44,15.50,light rain

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                226
City                   226
Country                224
Date                   226
Lat                    226
Lng                    226
Max Temp               226
Humidity               226
Cloudiness             226
Wind Speed             226
Current Description    226
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_df = preferred_cities_df.dropna()
preferred_cities_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Georgetown,MY,2022-09-23 15:50:09,5.4112,100.3354,80.53,93,20,3.44,heavy intensity rain
6,6,Faanui,PF,2022-09-23 15:43:47,-16.4833,-151.7500,77.05,77,35,21.97,light rain
7,7,The Valley,AI,2022-09-23 15:50:05,18.2170,-63.0578,87.66,74,20,12.66,few clouds
15,15,Saint George,US,2022-09-23 15:49:17,37.1041,-113.5841,75.43,34,0,3.44,clear sky
19,19,Caucaia,BR,2022-09-23 15:52:57,-3.7361,-38.6531,87.75,58,40,17.27,scattered clouds
...,...,...,...,...,...,...,...,...,...,...,...
683,683,Guane,CU,2022-09-23 16:11:14,22.2025,-84.0875,88.90,57,1,2.64,clear sky
690,690,Marsa Matruh,EG,2022-09-23 16:11:17,31.3525,27.2453,76.71,62,0,17.54,clear sky
691,691,Ormara,PK,2022-09-23 16:11:17,25.2088,64.6357,79.74,84,88,16.33,overcast clouds
695,695,Campeche,MX,2022-09-23 16:12:19,19.0000,-90.5000,77.18,91,100,1.79,overcast clouds
697,697,Kaka,TM,2022-09-23 16:12:19,37.3482,59.6143,81.93,12,0,4.65,clear sky

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,heavy intensity rain,5.4112,100.3354,
6,Faanui,PF,77.05,light rain,-16.4833,-151.7500,
7,The Valley,AI,87.66,few clouds,18.2170,-63.0578,
15,Saint George,US,75.43,clear sky,37.1041,-113.5841,
19,Caucaia,BR,87.75,scattered clouds,-3.7361,-38.6531,
25,Cabo San Lucas,MX,88.05,clear sky,22.8909,-109.9124,
27,Huizhou,CN,78.55,overcast clouds,23.0833,114.4000,
29,Ko Samui,TH,82.31,light rain,9.5357,99.9357,
30,Sola,VU,80.08,scattered clouds,-13.8833,167.5500,
32,Atuona,PF,75.43,light rain,-9.8000,-139.0333,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    except:
        print("Hotel not found. Skipping...")

Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...
Hotel not found. Skipping...

In [9]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df = hotel_df.dropna()
hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Georgetown,MY,80.53,heavy intensity rain,5.4112,100.3354,Cititel Penang
6,Faanui,PF,77.05,light rain,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
7,The Valley,AI,87.66,few clouds,18.2170,-63.0578,CeBlue Villas & Beach Resort
15,Saint George,US,75.43,clear sky,37.1041,-113.5841,Best Western Plus Abbey Inn
19,Caucaia,BR,87.75,scattered clouds,-3.7361,-38.6531,M.O.S. Logística - Filial Fortaleza
...,...,...,...,...,...,...,...
683,Guane,CU,88.90,clear sky,22.2025,-84.0875,base de Campismo LosPortales de Guane
690,Marsa Matruh,EG,76.71,clear sky,31.3525,27.2453,Beau Site
691,Ormara,PK,79.74,overcast clouds,25.2088,64.6357,Kenara Colony House for Rent
695,Campeche,MX,77.18,overcast clouds,19.0000,-90.5000,
697,Kaka,TM,81.93,clear sky,37.3482,59.6143,

In [11]:
# 8a. Create the output File (CSV)
output_data_file = "Resources/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
hotel_df.to_csv(output_data_file, index_label="City_ID")

In [12]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = hotel_df[["Lat", "Lng"]]

In [13]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))